@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$text-color: white;
$green: #7ed957;
$blue: #29abe2;
$background-dark: #252a2e;
$purple: #6c33b1;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

body {
  color: $text-color;
  background-color: $background-dark;
}

body {
  color: white;
}

.card {
  margin-top: 50px;
  border: none;
}

.text-green {
  color: $green;
}

.text-blue {
  color: $blue;
}

.btn-join-discord {
  @include button-variant(
    $green, 
    $green,
    #fff
  );
}

.btn-setup-guide {
  @include button-variant(
    $blue, 
    $blue,
    #fff
  );
}

a:hover.btn-setup-guide {
    color: white;
}

a:hover.btn-join-discord {
    color: white;
}

.link-green {
    /* unvisited link */
    a:link {
        color: $green;
        text-decoration: none;
    }
    
    /* visited link */
    a:visited {
        color: $green;
        text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
        color: $green;
        text-decoration: none;
    }
    
    /* selected link */
    a:active {
        color: $green;
        text-decoration: none;
    }
}

.link-blue {
    /* unvisited link */
    a:link {
        color: $blue;
        text-decoration: none;
    }
    
    /* visited link */
    a:visited {
        color: $blue;
        text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
        color: $blue;
        text-decoration: none;

    }
    
    /* selected link */
    a:active {
        color: $blue;
        text-decoration: none;
    }
}