@import "../../css/styles.scss";

.pricing-header {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../img/pricing-header-background.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscription-container {
    position: relative;
    top: -30vh;
}

.top-35 {
    top: 35% !important
}