@import "../../css/styles.scss";

.contact-container {
    i {
        font-size: 30px;
    }
}

.support-request-form {
    textarea {
        min-height: 300px;
    }
}

.contact-header {
    min-height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/contact-header-background.jpg");

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-35 {
    top: 35% !important
}

.contact-container {
    position: relative;
    top: -25vh;
}

.contact-link-text {
    display: inline;
}