@import "../../css/styles.scss";

.bg-image { 
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/homepage-header-background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-display {
    min-height: 85vh;
}

.card {
    border: none;
}

.reviews {
    padding-bottom: 25px;
    .review-image {
        max-width:100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .card {
        margin-top: 0px;
    }
}

.examples {
    .card {
        min-height: 500px;
    }
}

.reviews-bg {
    background-image: linear-gradient($purple, #4e267e);
    box-shadow: 0px 5px 5px #4e267e, 0px -5px 5px $purple;
    margin-bottom: 5px;
}

.stats-row {
    // background-color: $purple;
    background-image: linear-gradient($purple, #4e267e);
    box-shadow: 0px 5px 5px #4e267e, 0px -5px 5px $purple;
    margin-top: 5px;
    margin-bottom: 5px;
}

@include media-breakpoint-up(xs) {
    .img-pos-left {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .img-pos-right {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .reviews {
        margin-top:50px;
        
        .review-image {
            margin-top:50px;
            max-width:100px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    .examples {
        margin-top: 50px;
        .card {
            margin-top:50px;
        }

        .card-title {
            text-align: center;
        }
    }
}

@include media-breakpoint-up(md) {
    .img-pos-left {
        float: left;
    }

    .img-pos-right {
        float: right;
    }

    .reviews {
        margin-top:100px;
    }

    .examples {
        margin-top: 100px;
        .card {
            margin-top:50px;
        }

        .card-title {
            text-align: left;
        }
    }
}