@import "../../css/styles.scss";

.bg-image { 
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/nsm-header-background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-display {
    min-height: 85vh;
}

.stats-row {
    // background-color: $purple;
    background-image: linear-gradient(#3999b1, #1d4f5c);
    box-shadow: 0px 5px 5px #1d4f5c, 0px -5px 5px #3999b1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.example-section {
    margin-bottom: 50px;
    margin-top: 150px;
    
    img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    button {
        margin-bottom: 8px;
        margin-right: 5px;
    }

    .btn:focus, .btn:active {
        box-shadow: none;
    }

    button.active {
        background-color: #3999b1;
    }

    img {
        border-radius: 8px;
    }

    .card {
        margin-bottom: 200px;
    }

    .example-row {
        min-height: 500px;
    }
}

@include media-breakpoint-up(xs) {
    .img-pos-left {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .img-pos-right {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .img-pos-left {
        float: left;
    }

    .img-pos-right {
        float: right;
    }
}