@import "../../css/styles.scss";

.wrapper {
    display: flex;
    width: 100%;
}

#Sidebar {
    width: 250px;
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    z-index: 999;
    background: $purple;
    color: #fff;
    transition: all 0.3s;

    .sidebar-header {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/documentation-sidebar-header.jpg");
        height: 150px;

        h3 {
            padding-top:55px;
        }
    }

    h5 {
        padding-left: 10px;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        background-color: #895ec2;
        border-width: 0px;
    }

    a.active {
        background-color: $blue;
    }

    .list-group-item {
        padding: 0.5rem 1rem
    }
}

#Sidebar.offcanvas-start {
    border-right: 0px;
}

#Content {
    margin-top: 100px;
    width: calc(100% - 250px);
    padding: 50px;
    min-height: calc(100vh - 100px);
    transition: all 0.3s;
    position: absolute;
    // top: 0;
    right: 0;

    .toggle-sidebar {
        font-size: 30px;
        background-color: $purple;
        position: fixed;
        color: white;
        top: 100px;
        border-color: $purple;
        transition: all 0.3s;
    }

    .toggle-sidebar.sidebar-open {
        
        left: 250px;
    }

    .toggle-sidebar.sidebar-closed {
        left: 0px;
    }

    span.anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
}

#Content.active {
    width: 100%;
}