@import "../../../css/styles.scss";

#Navbar {
    transition: all 0.6s;
    min-height: 92px;
    background-color: transparent;

    .nav-link {
        font-size: 1.5em;
        line-height: 60px;
    }

    .nav-item {
        margin-right: 30px;
    }

    .navbar-toggler-icon {
        line-height: 60px;
    }

    .navbar-brand {
        margin-left: 10px;
    }
    
    .dropdown-menu {
        background-color: transparent;
        border: 0px;
        min-width: 100%;

        .dropdown-item {
            color: rgba(255, 255, 255, 0.55);
            margin-bottom:10px;
            font-size: 1.3em;
        }

        a:hover {
            background-color: transparent;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

#Navbar.filled-nav {
    background-color: #1e2225 !important;
    box-shadow: 0px 5px 3px #1e2225;

    .dropdown-menu {
        background-color: #1e2225;
        min-width: 10rem;

        a:hover {
            background-color: #1e2225;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

@include media-breakpoint-down(md) {
    #Navbar {
        background-color: #1e2225 !important;
        min-height: 92px;
        box-shadow: 0px 5px 3px #1e2225;

        .nav-link {
            font-size: 1.5em;
            line-height: 40px;
        }
    }
}