<nav id="Navbar" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark d-md-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../../../img/bic-logo.png" alt="BIC Development Homepage" width="40"
                height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarBotsDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Bots</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBotsDropdown">
                        <li><a class="dropdown-item" href="/nitrado-server-manager.html">Nitrado Server Manager</a></li>
                        <li><a class="dropdown-item" href="/status-bot.html">Status Bot</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation.html">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support.html">Support</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarProfileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfileDropdown">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item d-none" href="#">Subscription</a></li>
                        <li><a class="dropdown-item d-none" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>