<footer class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row pt-3 pb-3">
                    <div class="col-md-4 text-center order-last order-md-first align-self-center">
                        <h3><span class="text-green">BIC</span><span class="text-blue"> Development</span></h3>
                        <span class="text-secondary">Copyright © 2021 BIC Development LLC.</span>
                    </div>
                    <div class="col-5 col-md-2 offset-1 offset-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/" class="text-secondary">Home</a>
                            </li>
                            <li>
                                <a href="/pricing.html" class="text-secondary">Pricing</a>
                            </li>
                            <li>
                                <a href="/documentation.html" class="text-secondary">Documentation</a>
                            </li>
                            <li>
                                <a href="/support.html" class="text-secondary">Support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-5 col-md-2 order-md-3">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/" class="text-secondary">Account</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/rG6yAyqyJP" target="_blank" rel="noopener noreferrer" class="text-secondary">Discord</a>
                            </li>
                            <li>
                                <a href="/support.html" class="text-secondary">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>